.footer-main{
    padding-left: 30px;
    width: 98%;
    height: 1200px;
    background-color: #000;
    color: #fff;
}

.companyDet{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    margin-left: 100px;
    gap: 1.5rem;
}

.companyDet-in{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    align-items: center;
    justify-content: center;
    
}

.companyDet-in  ul{
    padding: 0px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.companyDet-in li{
    /* align-content: space-between; */
    font-size: 17px;
    padding: 5px;
}

.companyDet-in h4{
    /* margin-left: 30px; */
    font-size: 20px;
    color: #808080;
}

.companyDet-in:nth-child(2){
    margin-top: -100px;
}

.companyDet-in:nth-child(3){
    margin-top: -30px;
}

.companyDet-in li:hover{
    transform: scale(1.2);
    font-weight: 400;
}

.companyDet-in:nth-child(4){
    gap: 1.5rem;
}

.companyDet-in img:hover{
    transform: scale(1.2);
}

.footer-main hr{
    width: 85%;
    margin-left: 100px;
    height: 0.2px;
}

.companyDet-in1{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

